[project]
	description = SwiftShader (go/swiftshader)
[access "refs/heads/master"]
	label-Verified = -1..+1 group Contributors
	submit = group Contributors
	create = group Managers
	exclusiveGroupPermissions = push label-Code-Review
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -1..+1 group Contributors
	createTag = +force group Administrators
	push = group Nobody
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Managers
	label-Verified = -1..+1 group Contributors
	submit = group Contributors
	push = group Administrators
	create = group Managers
	createTag = +force group Administrators
[submit]
	action = cherry pick
[label "Code-Review"]
	function = MaxWithBlock
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value =  0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value =  0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[access "refs/heads/dev-opencl"]
	label-Code-Review = -2..+2 group Contributors
	label-Verified = -1..+1 group Contributors
	submit = group Contributors
	exclusiveGroupPermissions = read
	read = group Administrators
[access "refs/*"]
	read = group Anonymous Users
[access "refs/heads/llvm-3.4-upgrade"]
	exclusiveGroupPermissions = read
	read = group Administrators
[access "refs/heads/llvm-3.7-upgrade"]
	exclusiveGroupPermissions = read
	read = group Administrators
