[project]
	description = SwiftShader (go/swiftshader)
[access "refs/heads/master"]
	label-Verified = -1..+1 group Contributors
	submit = group Contributors
	create = group Managers
	exclusiveGroupPermissions = label-Code-Review push
	label-Code-Review = -2..+2 group Administrators
	label-Code-Review = -1..+1 group Contributors
	createTag = +force group Administrators
	push = group Nobody
	label-Kokoro-Presubmit = -1..+1 group Contributors
	label-Kokoro-Presubmit = -1..+1 group mdb/kokoro
	label-Kokoro-Presubmit = -1..+1 group mdb/kokoro-dedicated
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Managers
	label-Verified = -1..+1 group Contributors
	submit = group Contributors
	push = group Administrators
	create = group Managers
	createTag = +force group Administrators
[submit]
	action = rebase always
[label "Code-Review"]
	function = MaxWithBlock
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	copyMaxScore = true
	defaultValue = 0
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "Kokoro-Presubmit"]
	function = NoBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Passes
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "Regres-Ready"]
	function = NoBlock
	value = 0 No score
	value = +1 Ready to test
	defaultValue = 0
[access "refs/heads/dev-opencl"]
	label-Code-Review = -2..+2 group Contributors
	label-Verified = -1..+1 group Contributors
	submit = group Contributors
	exclusiveGroupPermissions = read
	read = group Administrators
[access "refs/*"]
	read = group Anonymous Users
	label-Verified = -1..+1 group Administrators
	label-Kokoro-Presubmit = -1..+1 group Administrators
[access "refs/heads/llvm-3.4-upgrade"]
	exclusiveGroupPermissions = read
	read = group Administrators
[access "refs/heads/llvm-3.7-upgrade"]
	exclusiveGroupPermissions = read
	read = group Administrators
[receive]
