[project]
	description = SwiftShader (go/swiftshader)
[access "refs/heads/master"]
	label-Verified = -1..+1 group cria/project-swiftshader-tryjob-access
	submit = group cria/project-swiftshader-tryjob-access
	submit = group swiftshader-scoped-luci-account
	create = group cria/project-swiftshader-committers
	exclusiveGroupPermissions = label-Code-Review push
	label-Code-Review = -2..+2 group cria/project-swiftshader-committers
	label-Code-Review = -2..+2 group cria/project-swiftshader-owners
	label-Code-Review = -1..+1 group cria/project-swiftshader-tryjob-access
	label-Commit-Queue = +0..+2 group cria/project-swiftshader-tryjob-access
	createTag = +force group cria/project-swiftshader-owners
	push = group Nobody
	label-Kokoro-Result = -1..+1 group cria/project-swiftshader-tryjob-access
	label-Kokoro-Result = -1..+1 group mdb/kokoro
	label-Kokoro-Result = -1..+1 group mdb/kokoro-dedicated
	label-Presubmit-Ready = +0..+1 group cria/project-swiftshader-tryjob-access
	labelAs-Commit-Queue = +0..+2 group swiftshader-scoped-luci-account
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group cria/project-swiftshader-committers
	label-Commit-Queue = +0..+2 group cria/project-swiftshader-tryjob-access
	label-Verified = -1..+1 group cria/project-swiftshader-tryjob-access
	submit = group cria/project-swiftshader-tryjob-access
	submit = group swiftshader-scoped-luci-account
	push = group cria/project-swiftshader-owners
	create = group cria/project-swiftshader-committers
	createTag = +force group cria/project-swiftshader-owners
	labelAs-Commit-Queue = +0..+2 group swiftshader-scoped-luci-account
[submit]
	action = rebase always
[label "Code-Review"]
	function = MaxWithBlock
	value = -2 This shall not be merged
	value = -1 I would prefer this is not merged as is
	value = 0 No score
	value = +1 Looks good to me, but someone else must approve
	value = +2 Looks good to me, approved
	copyMaxScore = true
	copyMinScore = true
	defaultValue = 0
        ignoreSelfApproval = true
[label "Commit-Queue"]
	value = 0 Not ready
	value = +1 Dry run
	value = +2 Commit
	defaultValue = 0
	function = NoBlock
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
[label "Verified"]
	function = MaxWithBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Verified
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "Kokoro-Result"]
	function = NoBlock
	value = -1 Fails
	value = 0 No score
	value = +1 Passes
	copyAllScoresOnTrivialRebase = true
	copyAllScoresIfNoCodeChange = true
	defaultValue = 0
[label "Presubmit-Ready"]
	function = NoBlock
	value = 0 No score
	value = +1 Ready to test
	defaultValue = 0
[access "refs/heads/dev-opencl"]
	label-Code-Review = -2..+2 group cria/project-swiftshader-tryjob-access
	label-Commit-Queue = +0..+2 group cria/project-swiftshader-tryjob-access
	label-Verified = -1..+1 group cria/project-swiftshader-tryjob-access
	submit = group cria/project-swiftshader-tryjob-access
	submit = group swiftshader-scoped-luci-account
	exclusiveGroupPermissions = read
	read = group cria/project-swiftshader-owners
	labelAs-Commit-Queue = +0..+2 group swiftshader-scoped-luci-account
[access "refs/*"]
	read = group Anonymous Users
	label-Verified = -1..+1 group cria/project-swiftshader-owners
	label-Kokoro-Result = -1..+1 group cria/project-swiftshader-owners
[receive]
